<%- view_title "Families | #{@family.acronym} - #{@family.name}" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header"><%= @family.acronym %> - <%= @family.name %></h1>
    <p class="lead"></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
    <h2>Inventory</h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Number</th>
          <th class="col-xs-7 col-sm-7 col-md-7 col-lg-7">Title</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Priority</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Low</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Moderate</th>
          <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">High</th>
        </tr>
      </thead>
      <tbody>
        <% @controls.each do |control| %>
        <%= control_row(control) %>
        <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
<% end %>
