<% if check %>
<div class="col-4">
  <span class="giant badge-pill badge-success">
    <%= level[0] %> <i class='fa fa-check-circle' title='Selected'></i>
  </span>
</div>
<% else %>
<div class="col-4">
  <span class="giant badge-pill badge-light">
    <%= level[0] %> <i class='fa fa-times-circle' title='Not selected'></i>
  </span>
</div>
<% end %>
