<div class='row'>
  <%= render('controls/shared/baseline_panel', check: @checks['Low'], level: 'Low') %><br/>
  <%= render('controls/shared/baseline_panel', check: @checks['Moderate'], level: 'Moderate') %><br/>
  <%= render('controls/shared/baseline_panel', check: @checks['High'], level: 'High') %>
</div>
