<div class="row">
  <%= render("controls/shared/baseline_panel", check: @checks["Low"], level: "Low") %>
  <%= render("controls/shared/baseline_panel", check: @checks["Moderate"], level: "Moderate") %>
  <%= render("controls/shared/baseline_panel", check: @checks["High"], level: "High") %>
</div>
