<p class=<%= "statement_level_#{@level}" %>>
  <span><%= @parsed_number %></span>
  <% if @is_odv %>
  <span><mark><%= @description %></mark></span>
  <% else %>
  <span><%= @description %></span>
  <% end %>
</p>
