<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col" style="width: 20%">Parameter ID</th>
      <th scope="col">Definition</th>
    </tr>
  </thead>
  <tbody>
    <% parameters.each do |p| %>
    <tr>
      <th scope="col"><%= p.number %></th>
      <td>
        <% unless p.label.nil? %>
        <%= p.label %>
        <% end %>

        <% unless p.selection.nil? %>
        <p>Selection (<em><%= (p.how_many) %></em>):</p>
        <% end %>
        <% unless p.choices.nil? %>
        <ul>
          <% p.choices.gsub(/[\[\]\"]/,'').split(', ').each do |a| %>
          <li><%= render_parameters(a) %></li>
          <% end %>
        </ul>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>