<ol class='list'>
  <% references.each do |reference| %>
  <li class="list-item">
    <%= link_to(reference.link, { target: '_blank' }) do %>
      <%= reference.reference %> <span class='glyphicon glyphicon-new-window'></span>
    <% end %>
  </li>
  <% end %>
</ol>
