<% unless references.empty? %>
<ul>
  <% references.each do |r| %>
  <li>
    <%= link_to(r.href) do %>
    <%= r.number %><i class="fas fa-external-link-alt"></i>
    <% end %> <em><%= r.citation %></em>
  </li>
  <% end %>
</ul>
<% end %>