<%- view_title 'Controls' %>

<% content_for :main do %>
<div class='row'>
  <div class='col-xs-12'>
    <h1 class='page-header'>Controls</h1>
    <p class='lead'>Controls are policy- and technology-agnostic mechanisms for safeguarding information systems against compromises of the confidentiality, integrity, and/or availability of those systems.</p>
  </div>
  <div class='table-responsive'>
    <h2>Inventory</h2>
    <table class='table table-sm table-hover control-table'>
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Title</th>
          <th scope="col">Parameters</th>
          <th scope="col">References</th>
          <th scope="col">Related controls</th>
        </tr>
      </thead>
      <tbody>
        <% @controls.each do |control| %>
        <%= control_row(control) %>
        <% end %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>

</div>
<% end %>
