<%- view_title "Controls | #{@control.number} - #{@control.title}" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header"><%= @control.number %> <small><%= @control.title %></small></h1>
    <p class="lead"></p>
  </div>
</div>
<% end %>
