<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="https://github.com/risk-redux/control_freak" title="control_freak @ GitHub!"><i class="fab fa-github"></i></a>
      A <a href="https://risk-redux.io">Risk-Redux</a> project.
    </span>
  </div>
</footer>
  