<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p class="text-muted">
          Built by <a href="mailto:karim@egyptiankarim.com" title="Email Karim Said">Karim Said</a> in <%= "#{Time.new.year}" %> at <a href="https://www.nasa.gov" title="NASA" target="_blank">NASA</a>.
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://github.com/egyptiankarim/control_freak" title="control_freak on GitHub" target="_blank">
              <%= image_tag("Octocat.png", {alt: "GitHub Octocat"}) %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
