<footer class="usa-footer usa-footer-slim usa-sans" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="#">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="#">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="#">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="#">Primary link</a>
          </li>
        </ul>
      </nav>
      <div class="usa-width-one-sixth usa-footer-primary-content">
        <p>(800) CALL-GOVT</p>
      </div>
      <div class="usa-width-one-sixth usa-footer-primary-content">
        <a href="mailto:javascript:void(0)">info@agency.gov</a>
      </div>
    </div>
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <img class="usa-footer-slim-logo-img" src="assets/gov-nasa-xl.png" alt="NASA meatball">
        <h3 class="usa-footer-slim-logo-heading">NASA Headquarters</h3>
      </div>
    </div>
  </div>
</footer>
