<%- view_title "Welcome!" %>

<% content_for :jumbotron do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header">Welcome to <%= "#{Rails.application.config.app_name}" %>!</h1>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <p class="lead">Hi! Hello. How are you?</p>
    <p>This system provides a simple, browser-based way to navigate all of the information in NIST SP 800-53 Revision 4.</p>
    <p>Huzzah! No more <kbd>&#8984;-F</kbd>-ing your way through PDFs!</p>
  </div>
  <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
    <p class="text-center stencil">Rev 4<br />Ready!</p>
  </div>
</div>
<% end %>

<% content_for :main do %>
<% end %>
