.navbar-brand{
  font-family: 'Righteous', cursive;
  font-size: 2.50em;
  font-weight: bold;
}

.fancy {
  font-family: 'Righteous', cursive;
}

#periodic-table-of-controls a, abbr, abbr[title] {
  text-decoration: none;
  text-decoration-line: none;
  -webkit-text-decoration: none;
  cursor: pointer;
}