<%- view_title "Metadata" %>

<% content_for :main do %>
  <div class="row">
    <div class="col-12">
      <h1 class="page-header">Metadata</h1>
      <p>We're currently rendering
        <a href="https://pages.nist.gov/OSCAL">OSCAL
        (Version <%= @catalog.oscal_version %>)</a> content from
        <a href="https://github.com/usnistgov/oscal-content"><em>
          <%= @catalog.title %> (UUID: <%= @catalog.uuid %>)</em></a>.
      </p>
    </div>
  </div>
<% end %>