<%- view_title "About" %>

<% content_for :main do %>
<div class="row">
  <div class="col-12">
    <h1 class="page-header">About <%= "#{Rails.application.config.app_name}" %></h1>
    <p class="lead">A bit about what we're doing here. `control_freak` is part of the Risk-Redux project, which is an endeavor to provide some practical tools for use of NIST frameworks. Essentially, we were tired of thumbing through PDFs so we started making some web apps.</p>
    <p>To learn more about our work, check us out on <a href="http://github.com/risk-redux">GitHub</a>!</p>
</div>
<% end %>
