tr[data-link]:hover {
  cursor: pointer;
}

tr.incorporated-into {
  font-style: italic;
  color: #bbbbbb;
}

tr.moved-to {
  font-style: italic;
  color: #bbbbbb;
}


tr.enhancement {
  font-style: italic;
}

tr.control {
  font-weight: bold;
}