tr[data-link]:hover {
  cursor: pointer;
}

tr.incorporated-into {
  font-family: 'Fira Mono', monospace;
  // font-style: italic;
  font-weight: 400;
  color: #bbbbbb;
}

tr.moved-to {
  font-family: 'Fira Mono', monospace;
  // font-style: italic;
  font-weight: 400;
  color: #bbbbbb;
}


tr.enhancement {
  font-family: 'Fira Mono', monospace;
  // font-style: italic;
  font-weight: 500;
}

tr.control {
  font-family: 'Fira Mono', monospace;
  font-weight: 700;
}