// Place all the styles related to the Controls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p.statement_level_0 {
  margin-left: 0.00em;
}
p.statement_level_1 {
  margin: 0px 0px 0px 1.00em;
}
p.statement_level_2 {
  margin: 0px 0px 0px 3.00em;
}
p.statement_level_3 {
  margin: 0px 0px 0px 5.00em;
}
p.statement_level_4 {
  margin: 0px 0px 0px 7.00em;
}

small span {
  font-family: 'Fira Mono', monospace;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

span.bg-warning {
  font-weight: 800;
  padding: 0 5px 0 5px;
}

.control-body {
  font-family: 'Fira Mono', monospace;
  padding: 2.00em 3.00em 2.00em 3.00em;
}