// Place all the styles related to the families controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  cursor: pointer;
}

abbr, abbr[title] {
  text-decoration: none;
  -webkit-text-decoration: none;
}