// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-search input {
  width:100%;
  padding: 1.00em 1.00em 0.25em 2.50em;
  margin: 75px 0 0 0;

  font-size: 2.00em;
  color: #cfcfcf;

  border: none;
  border-bottom: solid 4px #cfcfcf;

  transition: border 0.5s, color 0.5s;
}
.big-search input:focus {
  outline: none;
  color: #585858;

  border-bottom: solid 4px #585858;

  transition: border 0.5s, color 0.5s;
}

.big-search span {
  position: absolute;
  padding: 2.25em 0 0 0.25em;

  font-size: 3.00em;
  color: #cfcfcf;
}

#big-search input[type = "submit"] {
  visibility: hidden;
}
